
	/* Hoja de estilos para el ejercicio Formulario 8.*/
		 
		body{
			 font-family:calibri,sans-serif;
			 background:#bbb;
		}
		#contenedor{
			display:flex;
			flex-direction:column;
			gap:20px;
			align-items:center;
		}	
		#superior{
			display:flex;
		}
		#numeros{
			display:flex;
			justify-content:space-around;
		}
		#operaciones{
			display:flex;
			justify-content:space-around;
		}
		#botones{
			display:flex;
			justify-content:space-around;
		}
		legend{
			font-weight:bold;
			font-size:20px;
			color:maroon;
		}
		label{
			font-size:18px;
			font-weight:bold;
		}
		input,select,textarea{
			border:2px solid maroon;
		}
		#area{
			resize:none;
		}
		#b1,#b2{
			border-radius:5px;
			font-size:18px;
		}
		
		table,fieldset{
			border-radius:5px;
			box-shadow:5px 5px 2px #555;
		}
		tr{
			height:50px;
		}
		th,td{
			text-align:center;
			font-size:20px;
		}