#p1, #p2{
    font-size: 20px;
    font-family: 'Comic Sans MS'; 
}

.botones{
    border:solid 1px;
    border-color: maroon;
    border-radius: 10px;
}

#botones1{
    display:flex;
    justify-content: space-evenly;
}

#botones2{
    display:flex;
    justify-content: space-evenly;

}


#contenedor{
    
    display:flex;
    justify-content: space-around;
    align-items:center;
}

#contenedor > div{
    border:solid 3px;
    border-color: maroon;
    border-radius: 10px;

}
