
/* Archivo de estilos para el ejercicio Excepciones 1. */


			
			body{
				background-color:rgb(161, 154, 141);
				font-family:calibri,sans-serif;
			}
			#contenedor{
				display:flex;
				flex-direction:column;
				justify-content:center;
				align-items:center;
				margin:10px;
				gap:20px;
			}
			.ejercicios{
				border:1px solid #000;
				border-radius:5px;
				box-shadow:5px 5px 2px #333;
				background-color:#ccc;
				padding:10px;
			}
			h2 {
				text-align:center;
				color:navy;
			}
			
			p{
				font-weight:bold;
			}

			.parrafo_uno{
				color:navy;
			}
						