*{
    color:#800040;
    background-color: #E9E9E9;
}

/*  Esta es la combinación de colores más accesible. 
    Nivel AAA → Cumple los mejores requisitos y se considera accesible.  
    Contraste: 8.68
     */