*{margin:0;  padding:0}

h1{
    margin-left:30%;
}

nav{
    background-color:blue;
    color:yellow;
    display:flex;
    flex-direction:row;
    align-items: center;
}   

nav >div{
    width:100%;
}
nav ul{
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
}

nav a{
    color:yellow;
    text-decoration:none;
}

nav a:hover{
    color:brown;
}

body{
    background-color:antiquewhite;
}

#dppal{
    width:95%;
    height: 800px;
    margin:auto;
    margin-top:80px;
    background-color:rgb(136, 90, 35)
}

#lateral{
    width:30%;
    background-color: blueviolet;
    height:50%;
    display:flex;
    ;
}

