
/* Hoja de estilos para el ejercicio conexión BD 4.*/

			
			body{
				background-color:orange;
				font-family:calibri,sans-serif;
			}
			#contenedor{
				display:flex;
				justify-content:space-around;
				margin:10px;
				gap:20px;
			}
			.ejercicios{
				border:1px solid #000;
				border-radius:5px;
				box-shadow:5px 5px 2px #333;
				background-color:#ccc;
				padding:10px;
			}
						
			h1,h2{
				font-weight:bold;
				text-align:center;
			}
									
			legend{
				font-size:18px;
			}
			
			legend, label, #b1,#b2{
				font-weight:bold;
				
			}

			a{
				text-decoration:none;
				color:maroon;
				font-weight:bold;
			}
			
			#b1,#b2{
				
				color:maroon;
				font-size:16px;
			}
			
			#b2{
				float:right;
			}
			
			.mensaje{
				width:40%;
				margin:50px auto;
				border:1px solid #000;
				border-radius:5px;
				box-shadow:5px 5px 2px #333;
				background-color:#ccc;
				padding:10px;
				color:maroon;
				text-align:center;
			}
			