*{
    margin:0;
    padding:0;
    font-family:'Lucida Sans', Verdana, sans-serif;
}


header{
    display:flex;
    justify-content: center;
    color:rgb(40, 51, 51);
    margin:30px;
}

.irrigadorTitulo{
    font-weight:bold;
    color:rgb(56, 56, 56);

}

#container {
    display:flex;
    justify-content: space-around;
    gap:20px;
    padding:5px;
}
#container > div{
    background-color:rgb(178, 214, 219);
    width:150px;
    height:180px;
    border-radius:20%;
    flex-direction: column;
    justify-content: center;
    align-items:center;  
    padding: 10px; 
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    
}

#divBoton {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

#containerTipos{
    display:flex;
    justify-content: center;
    gap:38px;
}

#tipoTrigo{
    background-color:RGB(255, 200, 150);
    width:170px;
    height:50px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#tipoMaiz{
    background-color:RGB(255, 255, 180);
    width:170px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#tipoGirasol{
    background-color:RGB(255, 170, 100);
    width:170px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#tipoSoja{
    background-color:RGB(255, 220, 140);
    width:170px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#tipoArroz{
    background-color: RGB(255, 255, 200);
    width:170px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items:center;
}


.toggleButton {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgb(233, 88, 88); 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toggleButton.on {
    background-color: rgb(111, 197, 111); 
}

