*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

#contenedor{
    width:50%;
    margin:auto;
    
}

h1{
    text-align: center;
}

hr{
    margin-top:30px;
}

/*


o Convertir la división d1, que incluye la lista y el botón, en un contenedor flexible y distribuir 
sus elementos en los extremos de dicha división. 
o La lista y el botón Añadir Elemento a la Lista, tendrán una margen vertical de 20 píxeles. 
o Aumenta el texto de los botones de comando a los 18 píxeles y añádele un margen interno 
de 5 píxeles. 

*/