#listaPpal{
    
    font-family:Calibri, Verdana, sans-serif;
    text-align:left;
    display: flex;
    flex-direction:column;            
    align-items: center;
    color:black;

}

/* #listaPpal>li{   
    font-weight: bold;
    color:maroon;
}*/

/*No entiendo por qué me lo aplica a todos los <li>*/




/*Como alternativa he aplicado una clase manualmente pero me lo aplica igual 
a todos los li*/

.li1{
    font-weight: bold;
    color:maroon;
}






