			
			
	/* Hoja de estilos para el ejercicio Formulario 1 - JavaScript.	*/	
			
			body{
				background-color:orange;
				}
				
			#d0{
				display:flex;
				justify-content:space-around;
				font-family:sans-serif;
			}
			
			#d1{
			width:350px;
			}
			#d1 p label{
				width:50%;
				float: left;
			}
		
			fieldset{
				border:2px solid maroon;
				background:#ddd;
				box-shadow: 5px 5px 2px #888;
				border-radius:5px;
			}
			input[type="button"]{
				margin-left: 40px;
				font-size:14px;
				font-weight:bold;
				color:maroon;
			}